*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section-nav{
    width: 100%;
    padding-top: 2.5%;
}
.navbar-div{
    width: 80%;
    margin-inline: auto;
    gap: 5em;
    text-align: center;
}
.navbar-logo{
    margin-left: -4%;
}
.navbar-list{
    padding-top: 12px;
    font-weight: 500;
    font-size: 15px;
}
.navbar-list ul{
    gap: 35px;
}
.navbar-list ul li a{
    color: #262c55;
    text-decoration: none;
}
.Resources{
    position: relative;
}
.Resources-dropdown{
    text-decoration: none;
    text-align: start;
    top: 30px;
    left: -30px;
    position: absolute;
    width: 190px;
    gap: 4em;
    display: block; 
    display: none;
    height: 180px;
    padding-top: 15px;
    padding-left: 30px;
    box-shadow: 0px 10px 40px 3px;   
    border-radius: 1rem;
}
.Resources:hover .Resources-dropdown{
    display: block;
    transition: 1s;
}
.navbar-button{
    background-color: #eee;
    border-radius: 10px;
    padding: 9px;
    width: 140px;
    border: none;
    font-size: 14px;
    transition: all  ease;
}
.navbar-button:hover{
    background-color: rgba(10, 14, 39, .9);
    color: #fff;
}
.section-power{
    width: 100%;
}
.div-power{
    width: 85%;
    padding-top: 80px;
    margin-inline: auto;
    text-align: center;
}
.toggle-btn{
    display: none;
}
.h1-power{
    font-size: 74px;
    font-weight: 900;
    font-family: "Millik", sans-serif;
}
.span-power{
    color: #35a162;
}
.para-power{
    font-size: 22px;
    padding-top: 15px;
}
.section-card{
    width: 100%;
}
.div-card{
    width: 85%;
    margin-inline: auto;
    padding-top: 100px;
}
.div-shopify{
    box-shadow: 0px 2px 15px rgba(0, 0, 0, .1);
    border: none;
    transition: ease 1s;
}
.div-shopify:hover{
    cursor: pointer;
    transform: translateY(-10%);
}
.div-woo-commerce {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, .1);
    transition: ease 1s;
}
.div-woo-commerce:hover{
    cursor: pointer;
    transform: translateY(-10%);
    transition-delay: .2s;
}
.div-word-press {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, .1);
    border: none;
    transition: ease 1s;
}
.div-word-press:hover{
    cursor: pointer;
    transform: translateY(-10%);
    transition-delay: .2s;
}
.div-quick-books{
    box-shadow: 0px 2px 15px rgba(0, 0, 0, .1);
    border: none;
    transition: ease 1s;
}
.div-quick-books:hover{
    cursor: pointer;
    transform: translateY(-10%);
    transition-delay: .2s;
}
.div-zo-ho{
    box-shadow: 0px 2px 15px rgba(0, 0, 0, .1);
    border: none;
    transition: ease 1s;
}
.div-zo-ho:hover{
    cursor: pointer;
    transform: translateY(-10%);
    transition-delay: .2s;
}
.div-sa-ge{
    box-shadow: 0px 2px 15px rgba(0, 0, 0, .1);
    border: none;
    transition: ease 1s;
}
.div-sa-ge:hover{
    cursor: pointer;
    transform: translateY(-10%);
    transition-delay: .2s;
}
.div-xe-ro{
    box-shadow: 0px 2px 15px rgba(0, 0, 0, .1);
    border: none;
    transition: ease 1s;
}
.div-xe-ro:hover{
    cursor: pointer;
    transform: translateY(-10%);
    transition-delay: .2s;
}
.div-square-space{
    box-shadow: 0px 2px 15px rgba(0, 0, 0, .1);
    border: none;
    transition: ease 1s;
}
.div-square-space:hover{
    cursor: pointer;
    transform: translateY(-10%);
    transition-delay: .2s;
}
.card-anchor{
    color: #000;
    text-decoration: none;
}
.shopify{
    width: 120px;
    padding-top: 30px;
    padding-left: 30px;
}
.woo-commerce{
    width: 150px;
    padding-top: 30px;
    padding-left: 30px;
}
.word-press{
    width: 60px;
    padding-top: 30px;
    padding-left: 30px;
}
.add-your{
    padding-top: 10px;
}
.quick-books{
    width: 170px;
    padding-top: 30px;
    padding-left: 30px;
}
.zo-ho{
    width: 130px;
    padding-top: 30px;
    padding-left: 30px;
}
.sa-ge{
    width: 100px;
    padding-top: 30px;
    padding-left: 30px;
}
.xe-ro{
    width: 70px;
    padding-top: 30px;
    padding-left: 30px;
}
.square-space{
    width: 70px;
    padding-top: 30px;
    padding-left: 30px;
}
.learn-more{
    color: #f5a623;
    text-decoration: none;
    font-weight: 600;
}
.section-tools{
    width: 100%;
    margin-top: 290px;
}
.div-tools{
    width: 85%;
    margin-inline: auto;
    background-color: #1d1d1d;
    color: #fff;
    padding-left: 150px;
    padding-top: 80px;
    border-radius: 15px;
    padding-bottom: 80px;
    box-shadow: 0px 25px 50px rgba(29, 29, 29);
}
.h1-tools{
    font-weight: 900;
    font-family: "Millik", sans-serif;
}
.para-tools{
    padding-top: 30px;
    font-size: 22px;
    padding-bottom: 70px;
}
.button-tools{
    padding: 20px;
    border-radius: 10px;
    border: none;
}
.button-tools a{
    color: #000;
    text-decoration: none;
}
.button-tools1{
    margin-left: 50px;
    background-color: #1d1d1d;
    border: none;
}
.button-tools1 a{
    color: #fff;
    text-decoration: none;
}
.section-product{
    width: 100%;
}
.div-product{
    width: 85%;
    padding-top: 170px;
    margin-inline: auto;
    /* font-size: 20px; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.div-product p a{
    color: #000;
    text-decoration: none;
}
.div-product p a:hover{
    color: #00abab;
    transition: ease 1s;
}
.section-footer{
    width: 100%;
}
.section-hr{
    width: 85%;
    margin-inline: auto;
}
.div-footer{
    width: 85%;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 13px;
    padding-bottom: 10px;
}
.paragraphy-anchor a{
    color: #000;
    text-decoration: none;
    gap: 4em;
}
.paragraphy-anchor a:hover{
    color: #00abab;
}
.section-policy{
    width: 100%;
}
.div-policy{
    padding-top: 13px;
    width: 85%;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
}
.div-bank{
    width: 85%;
    margin-inline: auto;
    padding-top: 20px;
}
.div-policy p a{
    color: #000;
    text-decoration: none;
}
.div-policy p a:hover{
    color: #00abab;
}
.nigeria-img{
    border-radius: 60%;
}
.ulink{
    display: flex;
    justify-content: space-between;
    max-width: 1050px;
    display: none;
    margin: 0 auto 0 auto;
    border-bottom: solid rgb(228, 225, 225);
    border-top:  solid rgb(228, 225, 225);
    padding: 2rem 0;
    border-top-width: thin;
    border-bottom-width: thin;
}
.ulink ul{
    display: flex;
    gap: 2rem;
}
.ulink img{
    border-radius: 70%;
}
.ulink a{
    text-decoration: none;
}
.ulink li{
    list-style: none;
}
.linklist a:hover{
    color:#4DC4C4;
}
.ulink2{
    display: none;
    padding: 2rem;
}
.ulink22{
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(231, 227, 227);
}
.ulink22 p{
    color: #1D1D1D;
    font-weight: bold;
}
.ulink22 a{
    text-decoration: none;
}
.ulink22 img{
    border-radius: 50%;
}
.footer-p{
    text-align: center;
    padding-top: 20px;
}
@media (max-width: 768px){
    .ready{
        max-width: 80vw;
        padding: 2rem;
    }
    .ready h1{
        font-size: 2rem;
    }
    .ready p{
        max-width: 80vw;
    }
    .box_black{
        max-width: 80vw;
        margin: 0 auto;
    }
    .linklist{
        display: none;
    }
    .ulink{
        display: none;
    }
    .cs{
        display: none;
    }
    .ulink2{
        display: block;
        padding-top: 160px;
    }

}