@media (max-width: 992px){
    .section-nav{
        width: 100%;
    }
    .navbar-div{
        width: 90%;
        margin-inline: auto;
        justify-content: space-between;
    }
    .navbar-list{
        display: none;
    }
    .navbar-button-div{
        display: none;  
    }
    .toggle-btn{
        display: block;
    }
    .section-global{
        width: 100%;
    }
    .div-global{
        width: 95%;
        margin-inline: auto;
    }
    .section-chip{
        width: 100%;
    }
    .div-chip{
        width: 97%;
        margin-inline: auto;
    }
    .section-case{
        width: 100%;
    }
    .div-case{
        width: 97%;
        margin-inline: auto;
    }
    .section-audit{
        width: 100%;
    }
    .div-audit{
        width: 97%;
        margin-inline: auto;
    }
    .section-start{
        width: 100%;
    }
    .div-start{
        width: 97%;
        margin-inline: auto;
    }
}
@media (max-width: 769px){
    .div-audit1{
        display: grid;
        grid-template-columns: 1fr;
    }
    .div-audit2{
        padding-top: 30px;
    }
    .div-start{
        padding: 0;
        padding-left:40px;
        padding-top: 50px;
    }
    .para-start{
        font-size: 20px;
    }
    .button-start1{
        margin-bottom: 60px;
    }
    footer{
        display: none;
    }
    .section-product{
        display: none;
    }
    .ulink2{
        margin-top: 80px;
    }
}
@media (max-width: 427px){
    .h1-global{
        font-size: 50px;
    }
    .break-global{
        display: block;
    }
    .toggle-btn{
        margin-top: 10px;
    }
    .div-chip{
        line-height: 50px;
    }
    .h1-case{
        font-size: 35px;
    }
    .break-case{
        display: none;
    }
    .para-case{
        font-size: 20px;
    }
    .h1-audit{
        font-size: 35px;
    }
    .h1-start{
        font-size: 30px;
    }
}
@media (max-width: 376px) {
    .para-start{
        font-size: 18px;
    }
    .h1-global{
        font-size: 40px;
    }
    .break-pay{
        display: none;
    }
    .para-global{
        font-size: 18px;
    }
    .div-chip img{
        width: 90px;
    }
    .break-global{
        display: none;
    }
    .para-case{
        font-size: 16px;
    }
    .para-audit{
        font-size: 18px;
    }
}